<!doctype html>
<html ng-app="app">
<head>
</head>
<body>
    <div>
        <label>Name:</label>
        <input type="text" ng-model="yourName" placeholder="Enter a name here">
        <hr>
        <h1>Hello {{ yourName | upper }}!
        {{test | upper|lower}}
        </h1>
        
        <div ng-repeat="item in items">
            <div ng-if="item.show">
                {{item.title}}
            </div>
        </div>
        
        <div ng-include="'/views/include.html'"></div>
    </div>
</body>
</html>